{
  "parser": "babel-eslint",
  "extends": ["airbnb"],
  "rules": {
    "react/jsx-filename-extension": [
      "error",
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "semi": [2, "always"],
    "quotes": [2, "single"],
    "linebreak-style": ["error", "windows"],
    "import/first": ["error", "DISABLE-absolute-first"],
    "comma-dangle": ["error", "never"]
  }
}
